.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
    width: 100%;
}
#showerror{
    display: none;
}

.error{
    width: 80%;
    margin: 10px auto;
    color: red;
    font-size: 14px;
}

.formTitle, .buttonCase{
    width: 80%;
    margin: auto;
}

.login{
    width: 95%;
    max-width: 400px;
    min-width: 300px;
    margin: auto;
    padding: 20px 0;
    border: 1px solid #dedede;
    border-radius: 4px;
}

.input{
    display: block;
    width: 80%;
    height: 40px;
    font-size: 15px;
    padding: 0 10px;
    margin: 10px auto;
    border: 1px solid #b5b3b3;
    border-radius: 4px;
    margin-bottom: 10px;
}

.loginButton{
    width: 100px;
    background-color: #1b8cec;
    border: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 4px;
}